@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #d5e1df;
}

header {
    padding: 10px 0px;
    border-bottom-color: rgb(70, 65, 65);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: #e3eaa7;
    text-shadow: 1px 1px 2px darkgray;
}

.main {
    font-size: 1.5em;
    padding-left: 20px;
    color: #86af49;
}

body {
    padding: 0;
    margin: 0;
}

main {
    margin:20px 10px 60px 10px;
    padding-bottom: 20px;
}

footer {
    position: fixed;
    /* padding: 20px; */
    bottom: 0;
    margin-top: 20px;
    background-color: #86af49;
    width: 100%;
    font-size: 15px;
    text-shadow: 1px 1px 2px darkgray;
    /* border-top-color:rgb(70, 65, 65);
    border-top-style: solid;
    border-top-width: 2px; */
}

.footer {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto 70px;
    grid-template-rows: 60px;
}

.footer-text {
    font-size: 1.2em;
    padding-left: 20px;
    text-shadow: 1px 1px 2px #b5e7a0;
}

.footer-logo {
    transition: all 0.5s linear;
    padding-right: 10px;
}

.footer-logo:hover {
    transform: rotate(360deg);
}

a {
    text-align: justify;
    font-size: 1.3em;
    text-decoration: none;
}

a:hover {
    color: green;
}

.article-link {
    background-color: #b5e7a0;
    text-align: center;
    padding: 10px 30px;
    border: 1px solid lightgray;
    margin: 15px 20px 5px 20px;
    border-radius: 10px;
    font-size: 15px;
    text-shadow: 1px 1px 2px darkgray;
}

p a {
    padding-left: 10px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: green;
    font-size: 35px;
    text-shadow: 1px 1px 2px darkgray;
    text-align: center;
}

h2 {
    text-shadow: 1px 1px 2px darkgray;
    text-align: center;
}

img {
    padding: 10px;
}

figcaption {
    background-color: #b5e7a0;
    text-align: center;
    padding: 10px 30px;
    border: 1px solid lightgray;
    margin: 15px 20px 5px 20px;
    border-radius: 10px;
    font-size: 15px;
    text-shadow: 1px 1px 2px darkgray;
}

.ingredients {
    border-collapse: collapse;
}

.first-row {
    padding-right: 15px;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    gap: 30px 0px;
    perspective: 300px;
    justify-content: space-around;
}

.item {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 10px 5px 5px 10px darkgray;
    border-radius: 5px 10px;
}

.item:hover {
    text-shadow: 2px 2px 3px slategray;
    box-shadow: 10px 5px 5px 5px slategray;
    background-color: #e3eaa7;
}

.detail-container {
    display: grid;
    grid-template-columns: 1fr 320px 1fr;
    grid-template-rows: min-content;
    justify-content: center;
    align-items: center;
    border-radius: 10x;
}

.detail-container * {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
}
